functions-framework
fastapi
pandas
numpy
scikit-learn
scipy
google-cloud-firestore
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager
python-dotenv
firebase-admin
cryptography
pydantic
pydantic-settings
google-genai
requests
aanalytics2
chardet
pyarrow
causalimpactx
pymc
pytensor
statsmodels
libpysal
esda
optuna
skccm
plotly
matplotlib
asyncer
